.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.card {
  padding: 16px;
  flex: 0 1 25%;
}
.card {
  background: #222;
  color: white;
}
.card__title {
  font-size: 20px;
}
.card--accent {
  border: 2px solid #3498db;
}
.card__img {
  position: relative;
  padding-bottom: 80%;
  margin-bottom: 40px;
}
.card__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn {
  padding: 10px 14px;
  background: #3498db;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
